# All files
* @se7kn8 @DerFuchs123

docker/ @se7kn8
docs/ @se7kn8 @fabrice_zeug_luh

start_sim.sh @fabrice_zeug_luh
start_sim.bat @fabrice_zeug_luh

.gitignore @luhbots

# Modules
modules/baguette/ @se7kn8
tests/baguette/ @se7kn8

modules/config_provider/ @DerFuchs123
tests/config_provider/ @DerFuchs123

modules/experiment_logger/ @fabrice_zeug_luh
tests/experiment_logger/ @fabrice_zeug_luh

modules/game_data_provider/ @se7kn8 @fabrice_zeug_luh @DerFuchs123
tests/game_data_provider/ @se7kn8 @fabrice_zeug_luh @DerFuchs123

modules/local_planner/ @fabrice_zeug_luh
tests/local_planner/ @fabrice_zeug_luh

modules/local_planner_components/ @fabrice_zeug_luh
tests/local_planner_components/ @fabrice_zeug_luh

modules/logger/ @se7kn8
tests/logger/ @se7kn8

modules/luhviz/ @TobiPahl @RobertHa
tests/luhviz/ @TobiPahl @RobertHa

modules/marker_service/ @TobiPahl @RobertHa
tests/marker_service/ @TobiPahl @RobertHa

modules/game_data_provider/include/observer/ @DerFuchs123
modules/game_data_provider/src/observer/ @DerFuchs123
tests/observer/ @DerFuchs123

modules/precompiled_headers/ @se7kn8

modules/robot_interface/ @se7kn8
tests/robot_interface/ @se7kn8

modules/scenario/ @fabrice_zeug_luh @Malte.Sp @Steff3n
tests/scenario/ @fabrice_zeug_luh @Malte.Sp @Steff3n


modules/simulation_interface/ @se7kn8
tests/simulation_interface/ @se7kn8

modules/skills/ @fabrice_zeug_luh @Larissa99sky @westermax @Malte.Sp @Steff3n
tests/skills/ @fabrice_zeug_luh @Larissa99sky @westermax @Malte.Sp @Steff3n
modules/python_bindings/src/bindings/skills.cpp @se7kn8 @fabrice_zeug_luh @Larissa99sky @westermax @LeKo311 @Malte.Sp @Steff3n

modules/ssl_interface/ @se7kn8
tests/ssl_interface/ @se7kn8

modules/time/ @fabrice_zeug_luh
tests/time/ @fabrice_zeug_luh

modules/transform/ @fabrice_zeug_luh
tests/transform/ @fabrice_zeug_luh

# tests
tests/CMakeLists.txt @luhbots

tests_python/ @fabrice_zeug_luh @se7kn8

# configs
extern/cmake_rc/configs/ @luhbots
modules/config_provider/include/config/ @luhbots
modules/config_provider/include/config/skills_config.hpp @Larissa99sky @fabrice_zeug_luh @Steff3n @Malte.Sp
modules/config_provider/include/config/local_planner_components_config.hpp @fabrice_zeug_luh
extern/cmake_rc/configs/local_planner_components.toml @fabrice_zeug_luh
