# Use the Google style in this project.
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 80
SortIncludes: false
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: false

BreakBeforeBraces: Allman 




